body {
  padding-top: 56px;
}

/* search */

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 22) !important;
}
/* //nav bar */
.mydropdown-item {
  color: rgb(180, 180, 180);
  border: none;
}

.mydropdown-item:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(15, 0, 146, 0.541);
}
